#sentenceInput div{
    /*border: solid 1px orange;*/
    display: inline-block;
    text-align: center;
}

#sentenceInput h2 {
    display: inline;

    font-family: Arial, sans-serif;
    font-size: 3em;
    font-weight: normal;
}

#sentenceInput #carburant {
    color: #00000050;

    border: none;
    background: none;

    font-family: Arial, sans-serif;
    font-size: 3em;

    border-bottom: solid 2px #d62828;
}

#sentenceInput #carburant option {
    color: black;
}

#sentenceInput #adresse::placeholder{
    color: #00000050;
}

#sentenceInput #adresse{

    border: none;
    background: none;

    font-family: Arial, sans-serif;
    font-size: 3em;

    border-bottom: solid 2px #d62828;
}


