.resultElement {
  display: flex;
  flex-direction: row;
  width: 35em;
  border-top: 1px solid gray;
}

.leftPart {
  display: block;
  height: 100%;
  width: 80%;
  padding-left: 1em;
}

.rightPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 100%;
  padding-right: 1em;
}

h3 {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

#price {
  text-align: right;
  font-size: x-large;
  font-weight: 600;
}

#name {
  font-size: larger;
  margin-bottom: 0;
}

p {
  font-family: Arial, sans-serif;
  margin-top: 5px;
  font-size: medium;
  font-weight: 600;
  color: #00000070;
}
