<section id="landing" *ngIf="!showResults">
    <app-sentence-input (addressEventEmitter)="addressInput($event)" (fuelTypeEventEmitter)="fuelSelect($event)"></app-sentence-input>
    <a *ngIf="fuelType !== '' && address !== ''" id="search" (click)="downCaretClick()">
      <span class="caret"></span>
      Chercher
      <span class="caret"></span>
    </a>
</section>
<section id="results" *ngIf="showResults">
    <app-sentence-input-header [address]="address" [fuelType]="fuelType"></app-sentence-input-header>
    <app-results-handler [address]="address" [fuelType]="fuelType" ></app-results-handler>
</section>
