app-sentence-input {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

app-sentence-input-header {
  text-align: center;
  margin-bottom: 1em;
}

section {
  min-height: 100vh;
}

#landing {
  background: #e9ecef;
}

#result {
  background: blue;
}

#search {
  position: absolute;
  top: 75%;
  left: 50%;
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #00000070;
  font-size: 2em;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: color .2s ease-in-out;
}

#search:hover{
  color:  #00000090;
}

/*
.caret {
  display: inline-block;
  transform: translate(0, -20%) rotate(45deg);
  width: 12px;
  height: 12px;
  margin-left: 12px;
  margin-right: 12px;
  border-bottom: 3px solid #00000050;
  border-right: 3px solid #00000050;
}
*/

#results {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.disabled-link {
  pointer-events: none;
}

#wait {
  position: absolute;
  top: 100vh;
  transition: top ease-in-out .2s;
  background: #d62828;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
}

#wait h1 {
  text-align: center;
  font-size: 4em;
  font-family: Arial, sans-serif;
  color: #e9ecef;
  font-weight: normal;
  font-style: italic;
  letter-spacing: .1em;
  margin-bottom: 0;
}

#wait p {
  font-family: Arial, sans-serif;
  color: #e9ecef;
  font-size: 2em;
  text-align: center;
}
#wait[data-show=true] {
  top: 0;
}
