#inputHeader div {
  /*border: solid 1px orange;*/
  display: inline-block;
  text-align: center;
}

#inputHeader h2 {
  display: inline;

  font-family: Arial, sans-serif;
  font-size: 2em;
  font-weight: normal;
}

#inputHeader #carburant {
  color: #00000050;

  border: none;
  background: none;

  font-family: Arial, sans-serif;
  font-size: 2em;

  border-bottom: solid 2px #d62828;
}

#inputHeader #carburant[data-fuel='SP95'] {
  color: #004C26;
}

#inputHeader #carburant[data-fuel='Gazole'] {
  color: #F5871E;
}

#inputHeader #carburant[data-fuel='E85'] {
  color: #2BBED7;
}

#inputHeader #carburant[data-fuel='GPLc'] {
  color: #1A6C8D;
}

#inputHeader #carburant[data-fuel='E10'] {
  color: #56BA48;
}

#inputHeader #carburant[data-fuel='SP98'] {
  color: #004C26;
}

#inputHeader #carburant option {
  color: black;
  font-size: .7em;
}

#inputHeader #adresse::placeholder {
  color: #00000050;
}

#inputHeader #adresse {

  border: none;
  background: none;

  font-family: Arial, sans-serif;
  font-size: 2em;

  border-bottom: solid 2px #d62828;

  margin-right: 30px;
}

#search {
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #00000070;
  font-size: 1.7em;
  cursor: pointer;
  transition: color .2s ease-in-out;
}

#search:hover {
  color: #00000090;
}
