#inputHeader div {
  /*border: solid 1px orange;*/
  display: inline-block;
  text-align: center;
}

#inputHeader h2 {
  display: inline;

  font-family: Arial, sans-serif;
  font-size: 2em;
  font-weight: normal;
}

#inputHeader #carburant {
  color: #00000050;

  border: none;
  background: none;

  font-family: Arial, sans-serif;
  font-size: 2em;

  border-bottom: solid 2px #d62828;
}

#inputHeader[data-fuel='SP95'] #carburant, #inputHeader[data-fuel='SP95'] #carburant-color {
  color: #004C26;
}

#inputHeader[data-fuel='Gazole'] #carburant, #inputHeader[data-fuel='Gazole'] #carburant-color {
  color: #F5871E;
}

#inputHeader[data-fuel='E85'] #carburant, #inputHeader[data-fuel='E85'] #carburant-color {
  color: #2BBED7;
}

#inputHeader[data-fuel='GPLc'] #carburant, #inputHeader[data-fuel='GPLc'] #carburant-color {
  color: #1A6C8D;
}

#inputHeader[data-fuel='E10'] #carburant, #inputHeader[data-fuel='E10'] #carburant-color {
  color: #56BA48;
}

#inputHeader[data-fuel='SP98'] #carburant, #inputHeader[data-fuel='SP98'] #carburant-color {
  color: #004C26;
}

#inputHeader #carburant option {
  color: black;
  font-size: .7em;
}

#inputHeader #adresse::placeholder {
  color: #00000050;
}

#inputHeader #adresse {
  margin-left: 10px;

  border: none;
  background: none;

  font-family: Arial, sans-serif;
  font-size: 2em;

  border-bottom: solid 2px #d62828;

  margin-right: 30px;
}

#search {
  font-family: Arial, sans-serif;
  text-decoration: none;
  color: #00000070;
  font-size: 1.7em;
  cursor: pointer;
  transition: color .2s ease-in-out;
}

#search:hover {
  color: #00000090;
}


.map-marker {
  display: inline-block;
  border-radius: 50% 50% 50% 0;
  border: 3px solid #d62828;
  width: 1em;
  height: 1em;
  transform: translateY(-10%) rotate(-45deg);
}

.map-marker::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #d62828;
}
