div{
    /*border: solid 1px orange;*/
    display: inline-block;
    text-align: center;
}

h2 {
    display: inline;

    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: normal;
}

#carburant {
    color: #00000050;

    border: none;
    background: none;

    font-family: Arial, sans-serif;
    font-size: 2em;

    border-bottom: solid 2px #d62828;
}

#carburant option {
    color: black;
}

#adresse::placeholder{
    color: #00000050;
}

#adresse{

    border: none;
    background: none;

    font-family: Arial, sans-serif;
    font-size: 2em;

    border-bottom: solid 2px #d62828;
}


